<% if @article.errors.any? %>
<!-- display all error messages if there are any -->
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>


<%=form_for @article do |f| %>
  <p>
    <%=f.label :title %><br>
    <%=f.text_field :title %>
  </p>
  <p>
    <%=f.label :description %><br>
    <%=f.text_area :description %>
  </p>

  <%=f.submit %>
<% end %>

<p>
  <%= link_to 'back to article list', articles_path %>
</p>
