<div class="container-fluid">
  <h2 class="center mb-5">Title: <%= @article.title %></h2>
  <div class="card col-md-10 offset-md-1 card-description">
    <h4 class="card-header" > Description:</h4>

    <%= simple_format @article.description%>
    <hr>
    <div class="mb-1">
      <%= link_to 'edit this article', edit_article_path, class: "btn btn-primary btn-xs" %>
      <%= link_to 'delete this article', article_path, method: :delete, class: "btn btn-danger btn-xs" %>
      <%= link_to 'article list', articles_path, class: "btn btn-success btn-xs" %>
    </div>
  </div>
</div>
