<h1 class="center"> <%= @category.name.upcase %> </h1>

<% if logged_in_as_admin? %>
  <div class="row mb-5">
    <div class="col center">
      <span class="badge">
        <%= link_to "Edit category", edit_category_path(@category) %>
      </span>
    </div>
  </div>
<% end %>

<%= will_paginate @category_articles,  list_classes: ['pagination', 'justify-content-center'] %>

<%= render 'articles/articles', obj: @category_articles %>

<%= will_paginate @category_articles,  list_classes: ['pagination', 'justify-content-center'] %>
